<div class="jumbotron" align="center">
  <h1 id="main_text">hello teacher,</h1>
  <p class="lead">ready to label your end of the semester report writing, 'done'?</p>
  <%= link_to "let's get finished", login_path, class: "btn btn-primary btn-lg", role: "button", id:"button" %>
</div>
