<div class="container">
  <nav class="navbar navbar-light" style="background-color: #CBEED4;">
    <div class="container-fluid">
      <div class="navbar-header">
          <%= link_to "The Masterpiece: comment writing made easy!", comments_path, class: "navbar-brand" %>
          <%= link_to "New Comment", new_comment_path %>
      </div>
    </div>
  </nav>
</div>
