<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "done.", root_path, class: "navbar-brand", id: "logo" %>
          </div>
          <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" id="menu_item"><span>how it works</span></a>
              </li>
              <li class="dropdown">
                <%= link_to "login", login_path, id: "menu_item" %>
              </li>
            </ul>
          </div><!--/.nav-->
        </div><!--/.container-fluid -->
    </nav>
</div>
